{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'components/_preloader.html' %}

<div id="app">
  <b-container>
    {% include 'components/_header.html' %}

    <b-row>
      <b-col cols="12" md="6" class="mx-auto">
        <b-card no-body class="overflow-hidden mt-4">
          <b-row no-gutters>
            <b-col cols="12" md="12">
              <img class="card-img-top" src="{% static 'images/product_placeholder.png' %}" alt="Card Image Cap">
            </b-col>
            <b-col cols="12" md="12" class="px-4 py-2">
              <h5 class="card-title">
                <template v-if="loading">
                  Loading...
                </template>
                <template v-else>
                  [[ product.name || "No Name" ]]
                </template>
              </h5>
              <p class="card-text">
                <template v-if="loading">
                  Loading...
                </template>
                <template v-else>
                  [[ product.product_description || "No Description" ]]
                </template>
              </p>
              <p>
                <strong>Total files: </strong> 
                <template v-if="loading">
                  Loading...
                </template>
                <template v-else>
                  [[ product.num_files || 0 ]]
                </template>
              </p>
              <p class="text-left">
                <strong>Price: </strong>
                <template v-if="loading">
                  Loading...
                </template>
                <template v-else>
                  <strong>[[ product.price ]]</strong> USD (~<template v-if="selected_crypto.loading">...</template><template v-else>[[selected_crypto.details.price]]</template> [[ selected_crypto.crypto ]])
                </template>
              </p>
            </b-col>
            <b-col cols="12" md="12" class="px-4 py-2 text-left d-flex">
              <strong class="mr-2">Buy Using: </strong>
              <template v-if="loading">
                Loading...
              </template>
              <template v-else>
                <b-form-select
                  :options="crypto_options"
                  v-model="selected_crypto.crypto"
                  style="max-width: 150px;"
                ></b-form-select>

                <div class="ml-auto">
                  <template v-if="!buying_info.loading">
                    <b-button variant="info" pill :disabled="submit_disabled || !selected_crypto.crypto || selected_crypto.loading" class="d-block w-100" @click.prevent="initiate_transaction">
                      Buy Now
                    </b-button>
                  </template>
                  <template v-else>
                    <b-button variant="info" pill :disabled="true" class="d-block w-100">
                      ...
                    </b-button>
                  </template>

                </div>
              </template>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/product.js' %}"></script>
{% endblock %}