{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'components/_preloader.html' %}
<div id="app">
    <b-container>
        {% include 'components/_header.html' %}
        <b-row>
            <b-col cols="12" md="8" class="mx-auto">
                <b-card no-body class="overflow-hidden mt-4">
                    <b-row no-gutters>
                        <!-- Left Carousel -->
                        <!-- <b-col cols="12" md="4" class="px-0">
                            <b-carousel
                                id="carousel-1"
                                :interval="3000"
                                background="#fff"
                                class="h-100 about-carousel"
                            >
                                <b-carousel-slide img-blank>
                                    <h1 class="step--counter">1</h1>
                                    <div class="step--label">Step</div>
                                    <p class="step--details">Create a Product using form on the side.</p>
                                </b-carousel-slide>
                                <b-carousel-slide img-blank>
                                    <h1 class="step--counter">2</h1>
                                    <div class="step--label">Step</div>
                                    <p class="step--details">Get a Unique Link for your product. Share the link with your buyers to purchase.</p>
                                </b-carousel-slide>
                                <b-carousel-slide img-blank>
                                    <h1 class="step--counter">3</h1>
                                    <div class="step--label">Step</div>
                                    <p class="step--details">Share your Email or Bookmark the Product Management Link to see the Orders and Request Withdrawls.</p>
                                </b-carousel-slide>
                                <b-carousel-slide img-blank>
                                    <h1 class="step--counter">4</h1>
                                    <div class="step--label">Step</div>
                                    <p class="step--details">Submit Withdrawls using Product Dashboard and receive it directly in your Wallet!</p>
                                </b-carousel-slide>
                                <b-carousel-slide img-blank>
                                    <h1 class="step--counter">Voila</h1>
                                    <p class="step--details">Completely Anonymous and Secure!</p>
                                </b-carousel-slide>
                            </b-carousel>
                        </b-col> -->
                        <!-- Left Carousel Ends -->

                        <!-- Main Form -->
                        <b-col cols="12" md="12" class="px-4 py-2">
                            <b-form @submit.prevent="save">
                                {% csrf_token %}
        
                                <b-row class="text-left">
                                    <!-- Product Name -->
                                    <b-col cols="12" md="8">
                                        <b-form-group
                                            label="Product Name"
                                            label-for="product-name"
                                        >
                                            <b-form-input
                                                id="product-name"
                                                v-model="product.name"
                                                placeholder="e.g. AWS Creds $10"
                                                required
                                            ></b-form-input>
                                            <div class="text-danger" v-if="api_errors.name">
                                                <small>[[ api_errors.name.join(",") ]]</small>
                                            </div>
                                        </b-form-group>
                                    </b-col>
                                    
                                    <!-- Product Price -->
                                    <b-col cols="12" md="4">
                                        <b-form-group
                                            label="Price"
                                            label-for="product-price"
                                        >
                                            <b-input-group>
                                                <template #prepend>
                                                    <b-form-select
                                                    :options="currency_options"
                                                    v-model="product.currency"
                                                    ></b-form-select>
                                                </template>
                                                <b-form-input
                                                    id="product-price"
                                                    v-model="product.price"
                                                    placeholder="Price"
                                                    required
                                                    min="0"
                                                    type="number"
                                                ></b-form-input>
                                            </b-input-group>
                                        </b-form-group>
                                        
                                        <div class="text-danger" v-if="api_errors.price">
                                            <small>[[ api_errors.price.join(",") ]]</small>
                                        </div>
                                    </b-col>

                                </b-row>
                                
                                <b-row class="text-left">
                                    <!-- Product Description -->
                                    <b-col cols="12" md="12">
                                        <b-form-group
                                            label="Description"
                                            label-for="product-description"
                                        >
                                            <b-form-textarea
                                                id="product-description"
                                                v-model="product.description"
                                                placeholder="Product Description"
                                                rows="3"
                                                max-rows="6"
                                            ></b-form-textarea>
                                            
                                            <div class="text-danger" v-if="api_errors.description">
                                                <small>[[ api_errors.description.join(",") ]]</small>
                                            </div>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                
                                <b-row class="text-left">
                                    <!-- Product Files -->
                                    <b-col cols="12" md="12">
                                        <b-form-group
                                            label="Select File(s)"
                                            label-for="product-files"
                                        >
                                            <b-form-file 
                                                multiple 
                                                @input="filesChanged" 
                                                id="files" 
                                                v-model="files" 
                                                placeholder="Choose Files or Drop it here" 
                                                required
                                                :file-name-formatter="formatFileNames"
                                            ></b-form-file>
                                            <div>
                                                <strong>Total Size: </strong> [[ files_stats.size || 0 ]] MB
                                            </div>
                                            <div class="text-danger" v-if="api_errors.files">
                                                <small>[[ api_errors.files.join(",") ]]</small>
                                            </div>
                                        </b-form-group>
                                    </b-col>
                                </b-row>

                                <!-- Submit Button -->
                                <b-row class="mb-3">
                                    <b-col class="text-center">
                                        <b-button variant="info" pill type="submit" :disabled="submit_disabled">
                                            Start Selling!
                                        </b-button>
                                    </b-col>
                                </b-row>
                            </b-form>
                            </b-col>
                        </b-col>
                        <!-- Main Form Ends -->
                    </b-row>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</div>


{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}