{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sell.css' %}">
{% endblock %}


{% block content %}

{% include 'components/_preloader.html' %}
<div id="app">
    <b-container>
        {% include 'components/_header.html' %}
        <b-row>
            <b-col cols="12" md="12" class="mx-auto">
                <b-card no-body class="overflow-hidden mt-1">
                    <b-row no-gutters>
                        <b-col cols="12" md="12" class="px-4 py-2">
                            <h3>Your Product is now live!</h3>
                            <b-row class="text-left">
                                <b-col cols="12" md="12" class="text-center">
                                    <b-form-group
                                        label="Public URL"
                                        label-for="product-url"
                                    >
                                        <b-input-group>
                                            <template #append>
                                                <b-button variant="info" :disabled="submit_disabled" @click="copy('product-url')">
                                                    Copy to Clipboard
                                                    <img id="copy-content" src="{% static 'svg/copy_white.png' %}" width=20px height=20px alt="Copy to clipboard">
                                                </button>
                                            </template>
                                            <b-form-input
                                                id="product-url"
                                                value="{{public_uri}}"
                                                placeholder="Public URL"
                                                readonly
                                            ></b-form-input>
                                        </b-input-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                    <b-row no-gutters class="mb-4">
                        <b-col class="px-4 py-2">
                            <b-form @submit.prevent="save">
                                {% csrf_token %}
                                <b-row class="text-left">
                                    <!-- Product Name -->
                                    <b-col cols="12" md="12" class="text-center">
                                        <b-form-group
                                            label="Enter your email address to receive updates on payments or to withdraw received funds"
                                            label-for="email"
                                        >
                                            <b-input-group> 
                                                <template #append>
                                                    <b-button 
                                                        variant="info" 
                                                        type="submit" 
                                                        :disabled="submit_disabled"
                                                    >
                                                        Send Mail
                                                    </button>
                                                </template>
                                                <b-form-input
                                                    id="email"
                                                    v-model="user_data.email"
                                                    placeholder="e.g. username@example.com"
                                                    required
                                                    type="email"
                                                ></b-form-input>
                                                <div class="text-danger" v-if="api_errors.name">
                                                    <small>[[ api_errors.name.join(",") ]]</small>
                                                </div>
                                            </b-input-group>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                            </b-form>
                        </b-col>
                    </b-row>
                    <!-- Dashboard URL -->
                    <!-- <b-row no-gutters v-if="dashboard_url">
                        <b-col cols="12" md="12" class="px-4 py-2">
                            <b-row class="text-left">
                                <b-col cols="12" md="12" class="text-center">
                                    <b-form-group
                                        label="Dashboard URL"
                                        label-for="dashboard-url"
                                        description="Please Bookmark or Save this URL"
                                    >
                                        <b-input-group>
                                            <template #append>
                                                <b-button variant="info" :disabled="submit_disabled" @click="copy('dashboard-url')">
                                                    Copy to Clipboard
                                                    <img id="copy-content" src="{% static 'svg/copy_white.png' %}" width=20px height=20px alt="Copy to clipboard">
                                                </button>
                                            </template>
                                            <b-form-input
                                                id="dashboard-url"
                                                :value="dashboard_url"
                                                placeholder="Public URL"
                                                readonly
                                            ></b-form-input>
                                        </b-input-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row> -->
                    <!-- Dashboard URL Ends -->
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</div>
{% endblock content %}
{% block js %}
<script>
    var current_email = {% if object.email %}"{{ object.email }}"{% else %}null{% endif %};
</script>
<script type="text/javascript" src="{% static 'js/copy.js' %}"></script>
{% endblock js %}