body{
    background-color: #f5f5f5;
    color: black;
    text-align: center;
}

#preloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 2s all;
}

#preloader .preloader-text {
    text-transform: uppercase;
}

.logo {
    font-family: 'Anton', sans-serif;
    font-size: 54px;
}

.about-carousel .carousel-caption {
    color: #000;
}

.step--counter, .step--label, .step--details {
    text-align: center;
}

.step--counter {
    margin-bottom: 0px;
    line-height: 0.9em;
    font-size: 4em;
}

.step--label {
    text-transform: uppercase;
}